<div class="social-links">
  <a href="https://facebook.com/cefjoeii" target="_blank" class="social social-facebook" title="Become my Facebook follower.">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://instagram.com/cefjoeii" target="_blank" class="social social-instagram" title="Watch out for awesome photos.">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://twitter.com/cefjoeii" target="_blank" class="social social-twitter" title="See my cool tweets.">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://linkedin.com/in/cefjoeii" target="_blank" class="social social-linkedin" title="Send requests if we’ve met before.">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/cefjoeii" target="_blank" class="social social-github" title="Let’s make the world a better place.">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://goodreads.com/cefjoeii" target="_blank" class="social social-goodreads" title="I love reading!">
    <i class="fab fa-goodreads"></i>
  </a>
  <!-- <a href="https://soundcloud.com/cefjoeii" target="_blank" class="social social-soundcloud" title="Hear my sound.">
    <i class="fab fa-soundcloud"></i>
  </a> -->
  <div class="clearfix"></div>
</div>
