<div class="social-links">
  <a href="https://facebook.com/cefjoeii" target="_blank" class="social social-facebook" title="Follow me.">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://instagram.com/cefjoeii" target="_blank" class="social social-instagram" title="Watch out for awesome photos.">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://twitter.com/cefjoeii" target="_blank" class="social social-twitter" title="See my tweets.">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://linkedin.com/in/cefjoeii" target="_blank" class="social social-linkedin" title="Rate my skills.">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/cefjoeii" target="_blank" class="social social-github" title="Let's code together.">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://soundcloud.com/cefjoeii" target="_blank" class="social social-soundcloud" title="Hear my sound.">
    <i class="fab fa-soundcloud"></i>
  </a>
  <div class="clearfix"></div>
</div>
